.common-hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    min-height: 250px;

    @include tablet {
      min-height: 600px;
    }

    @include desktop {
      min-height: 500px;
    }
  }

  &__title {
    @include text-heading;

    color: $color-text-light;
    font-size: 24px;
    line-height: 0.91;
    text-transform: uppercase;
    white-space: pre-wrap;

    @include tablet {
      font-size: 60px;
    }

    @include desktop {
      font-size: 64px;
    }
  }
}
