.size-input {
  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  /* для элемента label связанного с .custom-radio */
  &__label {
    @include flex-row-center-center;
    @include text-body;

    top: 349px;
    left: 18px;
    min-width: 34px;
    height: auto;
    padding: 2px;
    border-radius: $border-radius-s;
    background-color: $color-bg-section;
    color: $color-text;
    cursor: pointer;
    font-size: 14px;
    gap: 10px;
    text-align: center;
    transition:
      color 0.2s ease-in-out,
      background-color 0.2s ease-in-out;
  }

  /* стили для радиокнопки, находящейся в состоянии checked */
  &__input:checked + &__label {
    background-color: $color-primary;
    color: $color-text-light;
  }

  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  &__input:focus:not(:checked) + &__label {
    background-color: $color-primary-light;
    color: $color-text-light;
  }

  /* стили для радиокнопки, находящейся в ховере и не находящейся в состоянии checked */
  @include hover {
    &__input:hover:not(:checked) + &__label {
      background-color: $color-primary-light;
      color: $color-text-light;
    }
  }
}

:global([data-theme='easyfit'] .size-input__input:checked + .size-input__label) {
  background-color: $color-easyfit;
}

:global([data-theme='easyfit'] .size-input__input:focus:not(:checked) + .size-input__label) {
  background-color: $color-easyfit;
}

@include hover {
  :global([data-theme='easyfit'] .size-input__input:hover:not(:checked) + .size-input__label) {
    background-color: $color-easyfit;
  }
}
