.base-popup {
  $this: &;

  @include flex-column;

  position: relative;
  cursor: pointer;

  &__overlay {
    position: fixed;
    z-index: $ui-index-1;
    inset: 0;
  }

  &__label {
    @include flex-row-center-between;
    @include text-body;

    padding: 7px;
    border-radius: $border-radius-s;
    font-size: 16px;
    gap: 10px;

    &_active {
      background-color: $color-bg-section-darker;

      #{$this}__icon {
        transform: rotate(180deg);
      }
    }
  }

  &__icon {
    width: 14px;
    transition: transform 0.2s ease-in-out;
  }

  &__content {
    @include flex-row-center-start;

    position: absolute;
    z-index: $ui-index-6;
    top: 100%;
    left: 0;
    width: 320px;
    border-radius: $border-radius-s;
    background-color: $color-bg-section;
  }
}
