.hero-swiper {
  &__pagination {
    bottom: 25px;

    @include xs-desktop {
      bottom: 37px;
    }

    :deep(.swiper-pagination-bullet) {
      background-color: #171717;
    }
  }
}

.easyfit-banner {
  :deep(.catalog-banner__content::before) {
    position: absolute;
    z-index: $ui-index-0;
    background-image: url('public/img/promo-banner-easyfit.png');
    background-position: right;
    background-repeat: no-repeat;
    content: '';
    inset: 0;

    //transform: rotate(19deg) translate(-75%, -40%);
  }
}

.eazyway-banner {
}

.collaborators {
  @include flex-column;
  @include base-gap;

  position: relative;
  z-index: $ui-index-3;

  &__list {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;

    @include tablet {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
