.about-easyfit-hero {
  background-image: url('public/img/hero/hero-about-easyfit.jpg');
  background-position: center top 60%;
  background-size: auto 650px;

  @include tablet {
    background-size: auto 1300px;
  }

  @include tablet {
    background-position: center top 59%;
  }
}
