.user-form {
  @include flex-column;

  gap: 20px;

  &__item {
    @include flex-column;

    gap: 5px;
  }

  &__label {
    @include text-body;

    font-size: 16px;

    @include tablet {
      font-size: 18px;
    }
  }

  &__sizes {
    @include flex-row-top-between;

    flex-wrap: wrap;
    gap: 5px;

    :deep(.size-input__label) {
      min-width: 35px;
      height: 35px;
      background-color: $color-bg-input-filled;
    }
  }

  &__checkbox,
  &__btn {
    margin-top: 15px;

    @include tablet {
      margin-top: 25px;
    }
  }

  &__controls {
    position: relative;
  }
}
