.catalog-head {
  &__breadcrumbs {
    width: 100%;
    max-width: 300px;
  }
}

.catalog {
  &__container {
    @include desktop {
      @include flex-row-top-between;

      gap: 50px;
    }
  }

  &__list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include sm-desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__content {
    width: 100%;

    @include flex-column;
    @include base-gap;
  }
}

.categories {
  @include flex-column;

  gap: 25px;

  @include md-desktop {
    width: 100%;
    max-width: 300px;
  }

  &__heading {
    width: 100%;
  }

  &__body {
    @include flex-column;

    gap: 18px;

    :deep(.product-categories__item) {
      padding: 0;
      font-size: 18px;
    }
  }
}
