.catalog-head {
  display: flex;
  overflow: visible;
}

.catalog-container {
  @include desktop {
    display: grid;
    padding: 0 30px;
    gap: 50px;
    grid-template-columns: auto auto;
  }

  @include md-desktop {
    grid-template-columns: max(300px) auto;
  }
}

.catalog {
  &__list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include sm-desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__content {
    width: 100%;

    @include flex-column;
    @include base-gap;
  }
}

.categories {
  @include flex-column;

  gap: 25px;

  &__heading {
    width: 100%;
  }

  &__body {
    @include flex-column;

    gap: 18px;

    :deep(.product-categories__item) {
      padding: 0;
      font-size: 18px;
    }
  }
}
