.error-message {
  @include text-body;

  display: block;
  color: $color-danger;
  font-size: 12px;

  &_position_absolute {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
  }

  &_position_static {
    position: static;
  }
}
