.delivery-map {
  @include desktop {
    height: 490px;
    border-radius: $border-radius-s;
  }

  width: 100%;
  height: 280px;
  border-radius: $border-radius-s;
}

:global(.ymaps-2-1-79-copyrights-pane) {
  display: none !important;
}
