.checkout-cart {
  @include flex-column;

  gap: 25px;

  @include tablet {
    gap: 35px;
  }

  &__heading {
    margin-bottom: 25px;

    @include tablet {
      margin-bottom: 35px;
    }
  }

  &__items {
    @include flex-column;

    gap: 25px;

    @include tablet {
      gap: 35px;
    }
  }

  &__actions {
    @include tablet {
      gap: 16px;
    }

    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__btn {
    width: 100%;
  }

  &__alert {
    @include text-body;

    margin-top: 10px;
    color: $color-input;
    font-size: 12px;

    @include tablet {
      font-size: 16px;
    }
  }
}

.checkout-cart-item {
  @include flex-row-top-between;

  position: relative;
  gap: 25px;

  &::before {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-divider;
    content: '';

    @include tablet {
      bottom: -15px;
    }
  }

  &__info {
    @include flex-column;
  }

  &__name {
    @include text-body;

    color: $color-text;
    font-size: 14px;
    font-weight: 700;

    @include tablet {
      font-size: 18px;
    }
  }

  &__desc {
    @include text-body;

    color: #a3a3a3;
    font-size: 12px;
    letter-spacing: -0.02em;

    @include tablet {
      font-size: 16px;
    }
  }

  &__price {
    @include text-body;

    color: $color-text;
    font-size: 14px;
    text-align: right;

    @include tablet {
      font-size: 18px;
    }
  }
}

.checkout-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  &__label {
    @include text-body;

    font-size: 16px;
    letter-spacing: -0.02em;
    text-align: left;

    @include tablet {
      font-size: 18px;
    }
  }

  &__sum {
    @include text-body;

    font-size: 16px;
    font-weight: 700;
    text-align: right;

    @include desktop {
      font-size: 24px;
    }
  }
}
