.menu {
  @include flex-column-top-start;
  @include text-body;

  position: fixed;
  z-index: $ui-index-1;
  top: $header-height-mobile;
  left: 0;
  width: 100%;
  height: calc(100% - #{$header-height-mobile});
  background-color: $color-bg-html;

  @include desktop {
    display: none;
  }

  &__item {
    @include flex-column;

    width: 100%;
    height: auto;
    padding: 7px 20px 6px;
    transition: background-color 0.2s ease-in-out;

    &_active {
      background-color: $color-bg-section-darker;
    }

    &_with_divider {
      position: relative;
      padding: 21px 20px 6px;

      &::before {
        position: absolute;
        top: 7px;
        left: 20px;
        display: block;
        width: calc(100% - 40px);
        height: 2px;
        background-color: $color-divider;
        content: '';
      }
    }
  }

  &__btn {
    width: 14px;
    transition: transform 0.2s ease-in-out;

    &_active {
      transform: rotate(180deg);
    }
  }

  &__link {
    @include link-states;

    font-size: 16px;
  }
}

.submenu {
  @include flex-column;

  gap: 7px;

  &__head {
    @include flex-row-center-between;
  }

  &__body {
  }
}
