.product-categories {
  width: 100%;
  padding: 9px;

  @include desktop {
    width: auto;
    padding: 0;
  }

  &__item {
    padding: 8px 0;
  }

  &__link {
    @include link-states;

    font-size: 14px;

    @include desktop {
      font-size: 16px;
    }
  }
}

:global(.settings-modal .product-categories) {
  padding: 0;
  background-color: $color-bg-section;
}
