.easyway-about-hero {
  background-image: url('public/img/hero/hero-about-easyway.jpg');
  background-position: right -82px top -130px;
  background-size: auto 172%;

  @include xl-mobile {
    background-size: auto 200%;
  }

  @include tablet {
    background-position: right -170px top -250px;
    background-size: auto 160%;
  }

  @include desktop {
    background-position: right -370px top -700px;
    background-size: auto 380%;
  }

  :deep(.common-hero__content) {
    @include flex-column-bottom-left;

    max-width: 205px;

    @include tablet {
      max-width: 542px;
    }
  }

  :deep(.common-hero__title::after) {
    content: '\A';
    white-space: pre;
  }
}

.about-slider {
  &__container {
    overflow: hidden;
    max-width: 1440px;
    padding: 0;
  }

  &__swiper {
    overflow: visible;
    padding-bottom: 35px;
    margin: 0;

    @include desktop {
      touch-action: pan-x;
    }
  }

  &__slide {
    width: 1000px;

    &_w_lg {
      width: 100%;
      max-width: 1440px;
    }
  }

  &__inner-slide {
    min-height: 650px;
  }

  &__buttons {
    @include flex-row-top-between;

    padding-bottom: 30px;
    gap: 20px;
  }

  &__btn {
    @include text-body;

    padding-bottom: 9px;
    font-size: 18px;

    &_active {
      border-bottom: 2px solid $color-primary;
    }
  }
}
