@font-face {
  font-display: swap;
  font-family: Arial;
  font-weight: 400;
  src: url('assets/fonts/Arial-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Arial;
  font-weight: 400;
  font-style: italic;
  src: url('assets/fonts/Arial-Regular-Italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Arial;
  font-weight: 700;
  src: url('assets/fonts/Arial-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Stapel;
  font-weight: 700;
  src: url('assets/fonts/Stapel-Bold.woff2') format('woff2');
}