// flex/direction/y-position/x-position

@mixin flex-row-top-start {
  display: flex;
  align-items: flex-start;
}

@mixin flex-row-top-end {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

@mixin flex-row-top-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@mixin flex-row-stretch-start {
  display: flex;
  align-items: stretch;
}

@mixin flex-row-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-row-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-row-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin flex-row-bottom-between {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@mixin flex-row-bottom-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-top-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-column-top-stretch {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@mixin flex-column-top-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin flex-column-top-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@mixin flex-column-bottom-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

@mixin flex-column-bottom-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

@mixin flex-column-bottom-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

@mixin flex-column-center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-between-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column-between-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

@mixin flex-row-center-start {
  display: flex;
  align-items: center;
}

@mixin flex-column-stretch-start {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@mixin text-body {
  font-family: $font-base;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: $line-height-base;
  text-align: left;
}

@mixin text-heading {
  font-family: $font-accent;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: $line-height-base;
}

@mixin link-states {
  color: $color-primary;
  transition: color 0.2s ease-in-out;

  &:active {
    color: $color-primary-light;
  }
}

@mixin base-gap {
  gap: 25px;

  @include tablet {
    gap: 35px;
  }
}
