@use 'sass:color';

/* fonts */
$font-base: 'Arial'; // основной шрифт для текста
$font-accent: 'Stapel';
$line-height-base: 1.4em;

/* color palette */
$color-primary: #232323;
$color-primary-light: #434343;
$color-secondary: #00adbb;
$color-disable: #f4f4f4;
$color-danger: #ff4811;
$color-danger-dark: #ff0404;
$color-danger-light: #fee;
$color-warning: #fac311;

/* ancillary color variables for this project */

/* semantic color variables for this project */
$color-bg-html: #fff;
$color-bg-section: #fff;
$color-bg-section-darker: #f4f4f4;
$color-bg-btn: $color-primary;
$color-bg-btn-light: #f7f7f7;
$color-text: $color-primary;
$color-text-light: #fff;
$color-headline: #737470;
$color-input-border: #c7ccd1;

/* block sizes */
$header-height-desktop: 86px;
$header-height-mobile: 50px;
$scrollbar-width: 6px;

/* indents */
$container-indent: 0 20px;
$section-indent: 60px 0;
$section-indent-portable: 35px 0;
$scrollbar-indent: 1px;

/* z-indexes */
$ui-index-0: 0; // Для сброса
$ui-index-1: 1; // Для наползабщих элементов в общем потоке
$ui-index-2: 2; // Для наползабщих элементов в общем потоке
$ui-index-3: 3; // Для наползабщих элементов в общем потоке
$ui-index-4: 4; // Для масок
$ui-index-5: 5; // Для сайдбаров
$ui-index-6: 6; // Для модалок
$ui-index-7: 7; // Для перекрытия всего

/* border-radius */
$border-radius-xs: 2px;
$border-radius-s: 5px;
$border-radius-l: 15px;
