.code-verifier {
  @include flex-row-center-center;

  gap: 8px;

  @include tablet {
    gap: 10px;
  }

  :deep(.input-block__input) {
    width: 27px;
    padding: 13px calc(50% - 0.5em);
    text-align: center;

    @include tablet {
      width: 34px;
    }
  }

  :deep(.input-block_valid .input-block__checkmark) {
    display: none;
  }
}
