.product-suggestions {
  @include flex-column;
  @include base-gap;

  &__swiper {
    overflow: visible;
  }

  &__list {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;

    @include desktop {
      grid-template-columns: repeat(4, 1fr);
    }

    //:deep(.size-input__label) {
    //  @include sm-desktop {
    //    min-width: 44px;
    //    height: 29px;
    //  }
    //}
  }
}
