.product-suggestions {
  @include flex-column;
  @include base-gap;

  &__swiper {
    overflow: visible;
  }

  &__list {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;

    @include tablet {
      display: flex;
      grid-template-columns: auto;
    }
  }
}
