.settings-modal {
  position: fixed;
  z-index: $ui-index-6;
  width: 100%;
  height: 100%;

  &::before {
    position: fixed;
    z-index: $ui-index-1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 300%;
    background-color: $color-overlay;
    content: '';
  }

  &__head {
    @include flex-row-center-between;

    position: relative;
    z-index: $ui-index-2;
    width: 100%;
    padding: 7px 9px;
    background-color: $color-bg-section-darker;
  }

  &__body {
    position: relative;
    z-index: $ui-index-2;
    display: grid;
    padding: 9px;
    background-color: $color-bg-section;
    grid-template-columns: 1fr;
  }

  &__close-btn {
    position: relative;
    padding: 9px;

    @include desktop {
      padding: 0;
    }

    &::before {
      position: absolute;
      left: calc(50% - 22px);
      display: block;
      width: 44px;
      content: '';
    }

    svg {
      width: 14px;
      height: 7px;
      color: $color-primary;
    }
  }

  &__name {
    @include text-body;

    display: block;
    color: $color-text;
    font-size: 16px;
  }
}
