.product-info {
  @include flex-column;
  @include base-gap;

  @include desktop {
    padding: 0;
  }

  &__head {
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto auto;
  }

  &__name,
  &__price {
    @include text-body;

    color: $color-text;
    font-size: 18px;
    font-weight: 700;

    @include tablet {
      font-size: 24px;
    }
  }

  &__price {
    text-align: right;
  }

  &__article {
    @include text-body;

    color: $color-note;
    font-size: 12px;

    @include tablet {
      font-size: 16px;
    }
  }

  &__items-wrapper {
    @include flex-column;

    gap: 15px;
  }

  &__subtitle-wrapper {
    @include flex-row-center-between;
  }

  &__subtitle {
    @include text-body;

    font-size: 16px;
    font-weight: 700;

    @include tablet {
      font-size: 18px;
    }
  }

  &__subtitle-btn {
    @include flex-row-center-start;
    @include text-body;

    font-size: 12px;
    gap: 10px;
    text-align: right;
    text-decoration: underline;

    @include tablet {
      font-size: 16px;
    }

    svg {
      width: 5px;
      height: 10px;

      @include tablet {
        width: 7px;
        height: 14px;
      }
    }
  }

  &__text {
    @include text-body;

    font-size: 14px;

    @include tablet {
      font-size: 16px;
    }
  }

  &__colors {
    display: flex;
    gap: 3px;

    :deep(.color-input__label) {
      width: 25px;
      height: 25px;
    }
  }

  &__sizes {
    display: flex;
    gap: 6px;

    @include tablet {
      gap: 12px;
    }

    :deep(.size-input__label) {
      width: 35px;
      height: 35px;
      background-color: $color-bg-btn-light;

      @include tablet {
        width: 50px;
        height: 50px;
        font-size: 16px;
      }
    }
  }

  &__actions {
    display: flex;
    gap: 10;
  }
}
