.base-checkbox {
  position: relative;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__error {
    position: absolute;
    top: 100%;
    left: 26px;
    color: $color-danger;
  }

  /* для элемента label связанного с .base-checkbox */
  &__label {
    display: flex;
    width: 100%;
    color: $color-input;
    cursor: pointer;
    font-size: 14px;
    gap: 12px;
    line-height: 1.1;
    transition: color 0.2s ease-in-out;

    @include tablet {
      font-size: 16px;
    }

    &::before {
      display: block;
      width: 15px;
      height: 15px;
      box-sizing: border-box;
      flex-grow: 0;
      flex-shrink: 0;
      border: 2px solid $color-input;
      border-radius: $border-radius-s;
      background: center / 7px no-repeat;
      content: '';
      transition: border-color 0.2s ease-in-out;

      @include tablet {
        width: 20px;
        height: 20px;
        border-width: 2px;
        background: center / 12px no-repeat;
      }
    }
  }

  /* стили для радиокнопки, находящегося в состоянии checked */
  &__input:checked + &__label {
    color: $color-input;

    &::before {
      border-color: $color-input;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 17'%3e%3cpath fill='none' stroke='%23959595' stroke-width='2.5' stroke-linecap='round' d='M2 6.17669L9.03704 15.0002L19.5 2'/%3e%3c/svg%3e");
    }
  }

  /* стили для радиокнопки, находящейся в состоянии disabled */
  &__input:disabled + &__label {
    color: $color-disable;

    &::before {
      background-color: $color-disable;
    }
  }

  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  &__input:focus:not(:checked) + &__label {
    color: $color-primary-light;

    &::before {
      color: $color-primary-light;
    }
  }

  /* стили для чекбокса, находящегося в ховере и не находящегося в состоянии checked */
  &__input:hover:not(:checked) + &__label {
    @include hover {
      color: $color-primary-light;

      &::before {
        border-color: $color-primary-light;
      }
    }
  }

  /* стили для активного чекбокса (при нажатии на него) */
  &__input:not(:disabled):active + &__label {
    color: $color-primary-light;

    &::before {
      border-color: $color-primary-light;
    }
  }
}
