.btn {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 12px 10px;
  border-radius: $border-radius-s;
  background-color: $color-bg-btn;
  color: $color-text-light;
  font-family: $font-base;
  font-size: 16px;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  @include desktop {
    height: 44px;
    font-size: 18px;
  }

  &:active {
    background-color: $color-primary-light;
  }

  @include hover {
    &:hover {
      background-color: $color-primary-light;
    }
  }

  &_light {
    background-color: $color-bg-btn-light;
    color: $color-text;

    &:active {
      background-color: $color-bg-btn-light;
    }

    @include hover {
      &:hover {
        background-color: $color-bg-btn-light;
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}

[data-theme='EASYFIT'] .btn {
  background-color: $color-easyfit;

  @include hover {
    &:hover {
      background-color: $color-easyfit;
    }
  }

  &:active {
    background-color: $color-easyfit;
  }
}
