.form {
  @include flex-column;
  @include base-gap;

  &__fieldset {
    @include flex-column;
  }

  &__legend {
    @include text-body;

    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 700;
    text-align: left;

    @include tablet {
      margin-bottom: 35px;
      font-size: 24px;
      letter-spacing: -0.02em;
    }
  }

  &__subtitle {
    @include text-body;

    font-size: 14px;
    font-weight: 700;
    text-align: left;

    @include tablet {
      font-size: 18px;
    }
  }

  &__radios {
    @include flex-column;

    gap: 15px;
  }

  &__inputs {
    @include flex-column;

    gap: 25px;
  }
}
