.input-block {
  $this: &;

  @include text-body;

  position: relative;
  line-height: 1.1px;

  &__input {
    width: 100%;
    height: 40px;
    padding: 13px;
    border: 2px solid $color-bg-btn-light;
    border-radius: $border-radius-s;
    background-color: $color-bg-btn-light;
    color: $color-input;
    font-size: 12px;

    @include tablet {
      height: 50px;
      padding: 16px 20px;
      font-size: 16px;
    }

    &::placeholder {
      color: $color-input;
      font-family: $font-base;
      font-size: 12px;

      @include tablet {
        font-size: 16px;
      }
    }
  }

  &__checkmark {
    position: absolute;
    top: 18px;
    right: 13px;
    display: none;
    width: 6px;
    height: 4px;
    color: $color-input;

    @include tablet {
      top: 20px;
      right: 18px;
      width: 12px;
      height: 8px;
    }
  }

  &_valid {
    #{$this}__input {
      border-color: $color-bg-input-filled;
      background-color: $color-bg-input-filled;
    }

    #{$this}__checkmark {
      display: block;
    }
  }

  &_invalid {
    #{$this}__input {
      border-color: $color-danger;
    }
  }
}

/* stylelint-disable */
input[type='number'] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* stylelint-enable */
