.base-swiper {
  &__pagination {
    font-size: 6px;
    line-height: 1;

    .swiper-pagination-bullet {
      margin: 0 3px;
      font-size: inherit;
      line-height: inherit;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      width: 29px;
      border-radius: $border-radius-l;
      background-color: white;
    }
  }

  &__scrollbar {
    --swiper-scrollbar-bottom: 0;
    --swiper-scrollbar-size: 5px;
    --swiper-scrollbar-drag-bg-color: #{$color-primary};
  }
}
