.header {
  position: relative;
  z-index: $ui-index-2;
  width: 100%;
  background-color: $color-bg-html;
  box-shadow: 0 0 15px rgba($color-primary, 0.1);
  color: $color-text;

  @include desktop {
    width: calc(100% - #{$scrollbar-width});
  }

  &_position_fixed {
    position: fixed;
    top: 0;
    left: 0;
  }

  &__content {
    @include flex-row-center-between;

    min-height: $header-height-mobile;
    padding: 15px 0;

    @include desktop {
      min-height: $header-height-desktop;
    }
  }

  &__logo {
    width: 85px;
    height: 12px;
    color: $color-primary;

    @include desktop {
      width: 145px;
      height: auto;
    }
  }

  &__nav {
    display: none;
    background-color: $color-bg-html;
    gap: 24px;

    @include desktop {
      @include flex-row-center-center;
    }
  }

  &__link {
    @include flex-column-top-center;
    @include text-body;
    @include link-states;

    position: relative;
    overflow: visible;
    gap: 10px;

    &::before {
      position: absolute;
      bottom: -7px;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $color-primary;
      content: '';
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    @include desktop {
      font-size: 18px;
    }

    @include hover {
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__actions {
    display: flex;
    gap: 30px;
  }

  &__action {
    @include link-states;

    height: 20px;
    gap: 22px;

    svg {
      width: auto;
      height: 100%;
    }

    @include desktop {
      height: 28px;
      gap: 30px;
    }

    &_burger {
      @include desktop {
        display: none;
        width: 29px;
        height: 29px;
      }
    }

    &_auth {
      display: none;

      @include desktop {
        display: block;
      }
    }

    &_favorites {
      width: 18px;
      height: 16px;

      @include desktop {
        width: 28px;
        height: 26px;
      }

      &:active {
        color: #e24c4c;
        transition: none;

        svg {
          fill: #e24c4c;
          transition: none;
        }
      }
    }
  }
}
