.catalog-item {
  @include flex-column;
  @include text-body;

  position: relative;
  overflow: hidden;
  border-radius: $border-radius-s;
  background-color: $color-bg-section-darker;

  &__to-favorite {
    position: absolute;
    z-index: $ui-index-1;
    top: 4px;
    right: 4px;
    display: block;
    width: 22px;
    height: 22px;
    padding: 3px 2px;
    color: $color-primary;
    transition: color 0.2s ease-in-out;

    svg {
      transition: fill 0.2s ease-in-out;
    }

    @include tablet {
      top: 10px;
      right: 12px;
      width: 25px;
      height: 25px;
      padding: 4px 3px;
    }

    &:hover {
      @include hover {
        color: $color-danger-light;
      }
    }

    &_active,
    &:active {
      color: $color-danger-light;

      svg {
        fill: $color-danger-light;
      }
    }
  }

  &__img-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 133%;
    border: 1px solid $color-bg-section-darker;
    border-radius: $border-radius-s;
  }

  &__image {
    position: absolute;
    display: block;
    inset: 0;
    object-fit: cover;
    object-position: top;
  }

  &__body {
    @include flex-column;

    padding: 10px;
    font-size: 14px;
    gap: 14px;

    @include tablet {
      font-size: 18px;
      gap: 8px;
    }
  }

  &__name {
    overflow: hidden;
    height: 2 * $line-height-base;
  }

  &__colors,
  &__sizes {
    display: none;

    @include tablet {
      display: flex;
    }
  }

  &__colors {
    gap: 3px;
  }

  &__sizes {
    gap: 2px;
  }

  &__footer {
    @include flex-row-center-between;
  }

  &__price {
    font-weight: 700;
    &__old {
      text-decoration: line-through;
    }
  }

  &__btn {
    width: 25px;
    height: 25px;
    padding: 6px 7px 7px 6px;
    border-radius: $border-radius-s;
    background-color: $color-bg-btn;
    color: $color-text-light;
    transition: background-color 0.2s ease-in-out;

    @include tablet {
      display: block;
      width: 35px;
      height: 35px;
      padding: 9px 10px 10px 9px;
    }

    @include hover {
      &:hover {
        background-color: $color-primary-light;
      }
    }

    &:disabled {
      background-color: $color-primary-light;
    }
  }
}

:global([data-theme='EASYFIT'] .catalog-item__btn) {
  background-color: $color-easyfit;
}

:global([data-theme='EASYFIT'] .catalog-item__btn:active) {
  background-color: $color-easyfit;
}

:global([data-theme='EASYFIT'] .catalog-item__btn:hover) {
  @include hover {
    background-color: $color-easyfit;
  }
}
