.order {
  &__title {
    @include text-heading;

    width: 100%;
    margin-bottom: 25px;
    color: $color-text;
    font-size: 18px;

    @include tablet {
      margin-bottom: 35px;
      font-size: 36px;
    }
  }

  &__content {
    @include flex-column;
    @include base-gap;

    @include tablet {
      flex-direction: row;
    }
  }

  &__form {
    width: 100%;

    @include tablet {
      max-width: 682px;
    }
  }

  &__cart {
    width: 100%;

    @include tablet {
      max-width: 463px;
    }
  }
}
