.product {
  @include tablet {
    padding: $section-indent-desktop 0;
  }

  &__content {
    @include tablet {
      display: flex;
      gap: $section-indent-desktop;
    }
  }

  &__info {
    @include desktop {
      flex-grow: 1;
    }
  }
}
