.color-input {
  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  /* для элемента label связанного с .custom-radio */
  &__label {
    @include flex-row-center-between;
    @include text-body;

    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 14px;
    gap: 10px;
    transition: color 0.2s ease-in-out;

    @include desktop {
      font-size: 18px;
    }

    &::before {
      display: block;
      width: 15px;
      height: 15px;
      box-sizing: border-box;
      border: 2px solid transparent;
      border-radius: 50%;
      background-color: currentcolor;
      box-shadow: 0 0 6px rgba($color-text, 0.3);
      content: '';
      transition: border-color 0.2s ease-in-out;
    }
  }

  /* стили для радиокнопки, находящейся в состоянии checked */
  &__input:checked + &__label::before {
    border-color: $color-primary;
  }

  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  &__input:focus:not(:checked) + &__label::before {
    border-color: $color-primary-light;
  }

  /* стили для радиокнопки, находящейся в ховере и не находящейся в состоянии checked */
  @include hover {
    &__input:hover:not(:checked) + &__label::before {
      border-color: $color-primary-light;
    }
  }
}
