.color-input {
  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  /* для элемента label связанного с .custom-radio */
  &__label {
    @include flex-row-center-center;

    position: relative;
    width: 23px;
    height: 23px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 50%;
    content: '';
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;

    &::before {
      display: block;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      box-sizing: border-box;
      border-radius: 50%;
      background-color: currentcolor;
      content: '';
      transition: color 0.2s ease-in-out;
    }

    &_color_white::before {
      border: 1px solid $color-primary;
    }
  }

  /* стили для радиокнопки, находящейся в состоянии checked */
  &__input:checked + &__label {
    border-color: $color-primary;
  }

  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  &__input:focus:not(:checked) + &__label {
    border-color: $color-primary-light;
  }

  /* стили для радиокнопки, находящейся в ховере и не находящейся в состоянии checked */
  @include hover {
    &__input:hover:not(:checked) + &__label {
      border-color: $color-primary-light;
    }
  }
}

//  :global([data-theme='EASYFIT'] .color-input__label_color_white::before) {
//    border-color: $color-easyfit;
//  }
//  :global([data-theme='EASYFIT'] .color-input__input:checked + .color-input__label) {
//    border-color: $color-easyfit;
//  }
//  :global([data-theme='EASYFIT'] .color-input__input:focus:not(:checked) + .color-input__label) {
//    border-color: $color-easyfit;
//  }
//  @include hover {
//    :global([data-theme='EASYFIT'] .color-input__input:hover:not(:checked) + .color-input__label) {
//      border-color: $color-easyfit;
//    }
//  }
