.product-filters {
  @include flex-column;
  @include base-gap;

  width: 100%;

  @include desktop {
    @include flex-row-center-between;
  }

  &__list {
    @include flex-column;
    @include base-gap;
  }

  &__item {
    @include flex-column;

    width: 100%;
    gap: 10px;
  }

  &__filter {
    @include flex-row-center-start;

    width: 100%;
    gap: 3px;
  }

  &__popups {
    @include flex-row-center-between;
    @include base-gap;
  }

  &__reset-btn {
    @include text-body;

    padding: 9px;
    color: $color-text;
    font-size: 16px;

    @include desktop {
      padding: 0;
    }
  }

  &__range {
    @include desktop {
      padding: 8px 15px;
    }

    :deep(.range-price__slider) {
      margin: 0 3px;

      @include desktop {
        margin: 0;
      }
    }
  }

  :deep(.size-input__label) {
    background-color: $color-bg-btn-light;
  }
}

:global(.product-filters .base-popup__content) {
  padding: 7px 0;
}
