.success {
  &__content {
    @include flex-column-center-center;
    @include base-gap;
  }

  &__socials {
    @include flex-column-center-center;
    @include text-body;

    gap: 15px;
    text-align: center;
  }

  &__subscribe {
    color: $color-note;
    font-size: 18px;
  }
}
